ROCKETCHAT_URL=http://localhost:3000
ROCKETCHAT_AUTH_TOKEN=fz1KWJUNtVtcA86nWFGrd5AamFdzWmmpc1FP79wv0WU
ROCKETCHAT_USER_ID=dncfLt4MnGJfjmgub
ROCKETCHAT_CHANNEL=rocket.chat-test
ROCKETCHAT_ROOM_ID=69b4e4b069d75127d03c6419
BOT_USERNAME=openclaw-bot
OPENCLAW_MOCK_MODE=true
OPENCLAW_URL=http://localhost:3001
OPENCLAW_API_KEY=your_api_key_here